<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Presentation viewer{% endblock %}</title>
  </head>

  <body>
    <header>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
