{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">

    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <!--<embed src="{{ uploaded_file_url }}" width="600px" height="500px" />-->
    <iframe src="http://docs.google.com/gview?url={{host }}{{ uploaded_file_url }}&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
  {% endif %}
{% endblock %}
